body{
	background:url(../img/watering1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
h1{
	text-align: center;
	color: #d68917;
    	font-family: 'Lobster', cursive;
    	margin: 30px;
    	font-size: xxx-large;
}
.container{
	width: 550px;
    	margin: 4% 11% 4% 2%;
}
.recovery-section{
	margin: 100px -124px 15px 161px;
    	padding: 10px;
	background-color: #008f936e;
	border-radius: 5%;
}
.recovery-section img{
	margin: -19px 4px -56px 109px;
    	width: 284px;
    	padding: 0px;
}
h2{
	color: #c7a995;
	text-align: center;
	font-size: xx-large;
}
.form{
	background-color: #99b976;
    	padding: 11px;
    	height: 14px;
    	width: 465px;
    	border-radius: 10px;
}
.btn{
	margin: 10px auto;
	display: block;
	padding: 10px;
	border-radius: 10%;
	border: none;
	font-size: 15px;
	background-color: orange;
	font-weight: 700;
	transition: 0.4s ease-in-out;
}
.btn:hover{
	cursor: pointer;
	box-shadow: 3px 3px 5px #ffff;
}
h3{
	color: #d3d4d8;
	margin: 25px 15px 22px 6px;
	font-family: 'Recursive', sans-serif;
	font-size: x-large;
}
a{
	color: #fd8694;
	transition: 0.4s ease-in-out;
	font-family: 'Roboto Mono', monospace;
}
a:hover{
	cursor: pointer;
	box-shadow: 3px 3px 5px #ffff;
}
input{
	color: white;
	font-size: 18px;
}